@font-face {
  font-family: "helvetica-compressed";
  src: url(../assets/fonts/HelveticaLTStd-Comp.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  color: #fff;
  width: 100%;
}

nav {
  background-color: #575756;
  border-bottom: 1.5px solid #FF99CC;
  box-shadow: 0 0 10px rgb(226, 105, 172);
  width: 100%;
}
nav div h3 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  font-family: "helvetica-compressed";
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
  color: #FF99CC;
  margin: 5px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  margin: 5px;
}

.collapse {
  flex-grow: initial;
  font-size: 20px;
}

.main-inicio .section-bienvenida {
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/assets/backrounds/home-bg-img.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.main-inicio .section-bienvenida .contenido-index .h1-inicio {
  font-size: 3.2rem;
  text-transform: uppercase;
}
.main-inicio .section-bienvenida .contenido-index .p-index {
  font-size: 1.5rem;
  padding: 1rem 0;
  font-style: italic;
}
.main-inicio .section-bienvenida .img-index img {
  -webkit-animation: float 3s linear infinite;
          animation: float 3s linear infinite;
}
@-webkit-keyframes float {
  0%, 100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-2.5rem);
  }
}
@keyframes float {
  0%, 100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-2.5rem);
  }
}
@media (max-width: 991px) {
  .main-inicio .section-bienvenida {
    padding: 0 3%;
    padding-top: 7.5rem;
  }
}
@media (max-width: 850px) {
  .main-inicio .section-bienvenida {
    padding: 0 3%;
    padding-top: 7.5rem;
    flex-flow: column-reverse;
  }
  .main-inicio .section-bienvenida .contenido-index img {
    width: 80%;
  }
  .main-inicio .section-bienvenida .contenido-index .h1-inicio {
    font-size: 2.6rem;
    padding: 10px;
    text-align: center;
  }
  .main-inicio .section-bienvenida .contenido-index .p-index {
    margin: 4rem;
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .main-inicio .section-bienvenida {
    flex-flow: column-reverse;
  }
  .main-inicio .section-bienvenida .contenido-index img {
    width: 300px;
    height: 300px;
  }
  .main-inicio .section-bienvenida .contenido-index .h1-inicio {
    font-size: 4rem;
    padding: 6px;
    text-align: center;
  }
  .main-inicio .section-bienvenida .contenido-index .p-index {
    margin: 3rem;
    font-size: 1rem;
    padding: 6px;
    text-align: center;
  }
}

.main-servicios {
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 7.5rem;
  align-items: center;
  justify-content: center;
  background: url(/assets/backrounds/servicios-bg-img.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.h1-servicios,
.h1-proyectos,
.h1-contacto,
.h1-nosotros {
  text-align: center;
  font-size: 4rem;
  font-family: "helvetica-compressed";
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.h1-inicio {
  font-size: 7rem;
  font-family: "helvetica-compressed";
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

span {
  color: #FF99CC;
}

.h3-servicios {
  color: #FF99CC;
}

.p-servicios,
.p-proyectos,
.p-nosotros {
  margin-top: 1.8rem;
  text-align: center;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  font-style: italic;
}

.contenedor-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.container-servicios {
  color: #222;
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

.card-servicios {
  position: relative;
  height: 250px;
  background: #575756;
  color: #fff;
  display: flex;
  width: 45%;
  margin: 30px 0;
  border: 1px solid #FF99CC;
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.345), 0 0 10px rgb(226, 105, 172);
  border-radius: 10px;
  cursor: pointer;
}

.imgbox-servicios {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.container-servicios .card-servicios:hover .imgbox-servicios {
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
  background: #bd3480;
}

.container-servicios .card-servicios .imgbox-servicios:before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 6em;
  color: rgba(255, 255, 255, 0.05);
  font-weight: 700;
}

.container-servicios .card-servicios .imgbox-servicios img {
  -webkit-animation: float 3s linear infinite;
          animation: float 3s linear infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1rem);
  }
}
.container-servicios .card-servicios:hover .imgbox-servicios img {
  max-width: 100px;
}

.container-servicios .card-servicios .content-servicios {
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-servicios .card-servicios .content-servicios h3 {
  margin-bottom: 5px;
  font-size: 24px;
}

@media (max-width: 992px) {
  .container-servicios {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .container-servicios .card-servicios {
    width: 400px;
  }
}
@media (max-width: 768px) {
  .container-servicios .card-servicios {
    max-width: 300px;
    flex-direction: column;
    height: auto;
  }
  .container-servicios .card-servicios .imgbox-servicios {
    position: relative;
  }
  .container-servicios .card-servicios .imgbox-servicios,
.container-servicios .card-servicios:hover .imgbox-servicios {
    width: 100%;
    height: 200px;
    left: 0;
  }
  .container-servicios .card-servicios .imgbox-servicios img,
.container-servicios .card-servicios:hover .imgbox-servicios img {
    max-width: 100px;
  }
  .container-servicios .card-servicios .content-servicios {
    position: relative;
    width: 100%;
  }
}
.main-proyectos {
  min-height: 120vh;
  padding: 0 9%;
  padding-top: 7.5rem;
  align-items: center;
  justify-content: center;
  background: url(/assets/backrounds/proyectos-bg-img.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.cards-proyectos div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cards-proyectos div .card-proyecto {
  width: 20rem;
  flex: 1 1 30px;
  background: #575756;
  border-radius: 0.5rem;
  border: 1px solid #FF99CC;
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.345), 0 0 10px rgb(226, 105, 172);
  margin: 1.5rem;
  padding: 1rem 0;
  text-align: center;
  transition: 0.2s linear;
}
.cards-proyectos div .card-proyecto img {
  height: 12rem;
  width: 21rem;
  border-radius: 0.5rem;
  border: 1px solid #575756;
}
.cards-proyectos div .card-proyecto h3 {
  font-size: 2rem;
  color: #FF99CC;
  padding-top: 1rem;
}
.cards-proyectos div .card-proyecto p {
  font-size: 1rem;
  color: #fff;
  padding: 1rem 1rem;
}
.cards-proyectos div .card-proyecto button {
  background-color: #FF99CC;
  color: #222;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  -webkit-animation: float 3s linear infinite;
          animation: float 3s linear infinite;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1rem);
  }
}

.main-nosotros {
  background: #222;
  height: auto;
}
.main-nosotros h1 {
  margin-top: 5rem;
}
.main-nosotros p {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}
.main-nosotros .cards-nosotros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.main-nosotros .cards-nosotros .card-nosotros {
  height: 550px;
  width: 290px;
  margin: 20px;
  border: 1px solid #FF99CC;
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.345), 0 0 10px rgb(226, 105, 172);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
.main-nosotros .cards-nosotros .card-nosotros .fondo img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 70%, 45% 100%, 0 70%);
          clip-path: polygon(0 0, 100% 0%, 100% 70%, 45% 100%, 0 70%);
}
.main-nosotros .cards-nosotros .card-nosotros .retrato img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 10px solid #222;
  margin-top: -90px;
  position: relative;
  -webkit-animation: float 3s linear infinite;
          animation: float 3s linear infinite;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1rem);
  }
}
.main-nosotros .cards-nosotros .card-nosotros div h3 {
  color: #fff;
  font-size: 25px;
  padding: 10px 0;
}
.main-nosotros .cards-nosotros .card-nosotros div .span-team {
  font-size: 1rem;
  color: #FF99CC;
}
.main-nosotros .cards-nosotros .card-nosotros div p {
  font-size: 1rem;
  margin: 20px 15px;
  color: #fff;
  margin-top: 20px;
  padding: 0 5px;
}

.contenido {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.contenedor-contacto {
  border: 1px solid #FF99CC;
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.345), 0 0 10px rgb(226, 105, 172);
  margin: 3rem;
}

.contenedor-contacto > * {
  padding: 1rem;
}

.formulario-contacto {
  background-color: #575756;
}

.formulario-contacto form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.formulario-contacto form .bloque {
  grid-column: 1/3;
}

.formulario-contacto form p {
  margin: 0;
  padding: 1em;
}

.formulario-contacto form button,
.formulario-contacto form input,
.formulario-contacto form textarea {
  width: 100%;
  padding: 0.7rem;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #FF99CC;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.formulario-contacto form button {
  background-color: #fff;
  color: #000;
  border: 0;
  text-transform: uppercase;
  padding: 1rem;
  transition: all 2s;
}

.info-contacto {
  background-color: #000;
}

.form__texto-contacto {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #FF99CC;
}

.info-contacto ul,
.info-contacto p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.info-contacto ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.info-contacto ul li {
  padding: 0.3rem;
}

.boton:hover {
  background-color: #FF99CC;
  color: white;
}

@media (min-width: 768px) {
  .body-contact {
    height: 100vh;
    padding: 0 4rem;
  }
  .contenedor-contacto {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contenedor-contacto > * {
    padding: 2rem;
  }
  .info-contacto ul,
.info-contacto p {
    padding: 1rem;
    text-align: left;
  }
}
footer {
  background: #575756;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
  border-top: 1.5px solid #FF99CC;
  box-shadow: 0 0 10px rgb(226, 105, 172);
}
footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
footer .footer-container h3 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  font-family: "helvetica-compressed";
}
footer .footer-container p {
  margin: 10px 10px;
  line-height: 28px;
  font-size: 1rem;
}
footer .footer-container ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
footer .footer-container ul li {
  margin: 0 10px;
}
footer .footer-container ul li a {
  text-decoration: none;
  color: #fff;
}
footer .footer-container ul li a i {
  font-size: 1.7rem;
  transition: color 0.4s ease;
}
footer .footer-content {
  background: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
footer .footer-content p {
  font-size: 14px;
  word-spacing: 2px;
}
footer .footer-content p i {
  color: #FF99CC;
}

.social-list a:hover i {
  color: #FF99CC;
}/*# sourceMappingURL=style.css.map */