// fondos
$color-background: #575756;
$color-background-card: #222222;
$color-background-btn: #FF99CC;
$color-background-footer: #222222;
$color-background-icons: #FF99CC;
$color-background-proyectos: #222222;
$color-background-form: #222222;
$color-background-form-btn: #fff;
$color-background-btn-hover: #FF99CC;

// bordes
$color-borde: #FF99CC;

// texto
$color-text: white;

// navbar
$color-link: white;
$color-link-active: #FF99CC;

// h1
$color-h1: white;
$color-span: #FF99CC;

// h2
$color-h2: white;

// h2-nosotros
$color-h2-nosotros: #FF99CC;

// h3
$color-h3: #FF99CC;

// h5
$color-h5: #FF99CC;

// boton (btn)
$color-btn: #222222;



