// variables

$back-ground: green;
$color: blue;
$relleno: 20px;
$font-weight: 500;

@import "colors";

h1{
    color: $color-fonts;
}

p{
    color: $color-parrafos;
}

header{
    background-color: $back-ground;
    nav{
        padding: $relleno;
        ul{
            list-style-type: none;
            li{
                color: $color;
                a{
                    font-weight: $font-weight;
                }
            }
        }
    }
}

body{
    background-color: $back-ground;
    padding: $relleno;
}

header{
    background-color: $back-ground;
}